/* Dyamic In-Field Labels */
form.sdl-form input[type="text"],
form.sdl-form input[type="email"],
form.sdl-form input[type="password"],
form.sdl-form input[type="tel"],
form.sdl-form select,
form.sdl-form textarea{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background:#fff;
    border:1px solid #eee;
    width: 100%;
    outline:none;
    font-size: 16px;
    position: relative;
    border-radius: 4px;
    padding:1rem 1rem  .25rem 1rem !important;
    width: 100%;
    font-size: 1rem;
    min-height: 50px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    appearance: none !important;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
form.sdl-form input[type="text"]:focus,
form.sdl-form input[type="email"]:focus,
form.sdl-form input[type="password"]:focus,
form.sdl-form input[type="tel"]:focus,
form.sdl-form textarea:focus,
form.sdl-form select:hover {
  border-color:#3073A2;
  box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
}
form.sdl-form textarea{
    min-height: 150px;
    padding-top: 1.4rem !important;
}
form.sdl-form label.sdl-label{
    position: absolute;
    left: 1rem;
    line-height: 3.125rem;
    z-index: 1;
    top: 0;
    pointer-events: none;
    color: #999;
    font-size: 1rem;
    transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
}
form.sdl-form label.has-value{
    color: #3073A2;
    font-size: .65rem;
    line-height: 1.9rem;
    text-transform: uppercase;
}
/* Form select */
form.sdl-form .sdl-select select {
    cursor:pointer;
    padding: 1rem;
}
form.sdl-form .sdl-select:after{
    margin-top: -12px;
}

/* Radio & Checkbox */
form.sdl-form  .sdl-radio,
form.sdl-form  .sdl-checkbox {
    display:inline-block;
    cursor: pointer;
    position: relative;
    padding: 6px 15px;
    font-size: 16px;
}
form.sdl-form .sdl-checkbox,
form.sdl-form .sdl-radio{
  padding-left:40px;
}
form.sdl-form input[type=radio],
form.sdl-form input[type=checkbox] {
  visibility: hidden;
  position: absolute;
}
form.sdl-form .sdl-checkbox:before,
form.sdl-form .sdl-radio:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    content:"";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    background: #fff;
    border:1px solid #e4e4e4;
    top:50%;
    margin-top: -15px;
    border-radius: 50%;
}
form.sdl-form .sdl-checkbox.selected:before,
form.sdl-form .sdl-radio.selected:before{
  background: #3073A2;
  border-width: 8px;
  border-color: #e4e4e4;
}

/* Placeholders */
form.sdl-form ::-webkit-input-placeholder { color: #fff; }
form.sdl-form :focus::-webkit-input-placeholder { color: #999; }
form.sdl-form ::-moz-input-placeholder { color: #fff; }
form.sdl-form :focus::-moz-input-placeholder { color: #999; }
form.sdl-form :-moz-input-placeholder { color: #fff; }
form.sdl-form :focus:-moz-input-placeholder { color: #999; }
form.sdl-form :-ms-input-placeholder { color: #fff !important; }