/* Dynamic Form Labels */
form.sdl-form input,
form.sdl-form select,
form.sdl-form textarea{
    padding:1.5rem 1rem  .75rem 1rem !important;
    width: 100%;
    font-size: 1rem;
    min-height: 50px;
    border:1px solid #e4e4e4;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none !important;
}
form.sdl-form input:focus,
form.sdl-form select:focus,
form.sdl-form textarea:focus{
    border-color:#23826F;
    outline: none;
}
form.sdl-form label.sdl-label{
    position: absolute;
    left: 1rem;
    line-height: 3.5rem;
    z-index: 1;
    top: 0;
    transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    pointer-events: none;
    color: #999;
    font-size: 1rem;
}
form.sdl-form label.has-value{
    color: #999;
    font-size: .8rem;
    line-height: 2rem;
}
/* Form select */
form.sdl-form .sdl-select select {
    cursor:pointer;
    padding: 1rem;
}
form.sdl-form .sdl-select:hover select{
    border-color:#23826F;
}
/*End Dynamic Form Labels */